<div class="mailContainer container">
  <img src="http://i.imgur.com/BqeCeGv.png" alt="Sysstat.us Logo">
  <p>Hello!</p>
  <br>
  <p>There is a request from a teammate to create a Sysstat.us Account and help manage the <%= siteName %> statue page. Click the link below to get logged in.
  </p>
  <p><b>Url:</b> <a href="<%= siteUrl %>/login"><%= siteUrl %>/login</a></p>
  <p><b>Email:</b> <%= toMail %></p>
  <p><b>Password:</b> <%= password %></p>
</div>